---
import SocialIcon from "./SocialIcon.astro";

---

<main class="flex gap-12 w-full">
  <div>
      <p class="text-2xl pb-2 text-pretty">
         ¡Hola! Soy <span class="text-white/70">Edison Yadir Rossis</span> , un desarrollador web obsesionado con crear experiencias digitales increíbles. Me apasiona el poder de la tecnología para transformar ideas en realidades impactantes. Algo que me encanta es  <span class="text-white/70" > poder darle una experiencia innolvidable a las personas.
            </span> ¡La tecnología es mi lenguaje y la innovación mi misión!  
    </p>

  <SocialIcon href="#contact"> Contactame aqui!</SocialIcon>
  </div>


</main>