<header class="flex justify-center content-center w-full">

  <nav class="flex gap-8 fixed top-2 backdrop-blur-sm px-8 py-6 rounded-3xl font-medium shadow-xl bg-[#00000082] ">
    
    <a href="#proyects">Proyectos</a>
    <a href="#aboutme">Sobre Mi</a>
    <a href="#contact">Contacto</a>
  </nav>
</header>
